<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.akhilsukh01.seismos_flutter">
    <!-- Flutter needs it to communicate with the running application
         to allow setting breakpoints, to provide hot reload, etc.
    -->
    <uses-permission android:name="android.permission.INTERNET"/>

    <application>
        <!-- TODO: Add your API key here -->
        <meta-data android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyA7thTBvjKH7iKgA9ovGkSYsKA83KOr0Mg"/>
    </application>
</manifest>